@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.nav{
    text-align: center;
    margin: auto;
    font-family: Raleway;
    font-size: 38px;
    color: black;
    width: 79px;
    background-color: #FDC500;
}

.card{

    display: flex;
    justify-items: center;
    padding-left: 250px;
    padding-right: 250px;

}

.location-info{
    padding-left: 10px;
    display: flex;

}